<div class="team-header clearfix">
  <h2>{{event.name}}</h2>
  <div><a href="https://www.thebluealliance.com/event/{{ event.key }}" target="_blank">Open in TBA</a></div>
</div>
<a class="btn btn-default" href="#/event/{{ event.key }}">View Teams</a>
{{#if matches.length}}
   <div class="list-group">
      {{#each matches}}
         <a href="https://www.thebluealliance.com/match/{{key}}" class="list-group-item" target="_blank">
            <h4 class="list-group-item-heading">
               Match #{{match_number}}
            </h4>
            <p class="list-group-item-text">
               <b>Time</b>: {{moment(time*1000)}}<br>
               <b>Alliances</b>:
               {{#alliances.blue}}
                  <p style="padding-left: 1.5em;">
                     Blue Alliance: {{score}}<br>
                     Teams:
                     {{#each teams:i}}
                        <a href="#/team/{{this.match(/\d+/)[0]}}">{{this.match(/\d+/)[0]}}</a>{{#if i < teams.length-1}},&nbsp;{{/if}}
                     {{/each}}
                  </p>
               {{/}}
               {{#alliances.red}}
                  <p style="padding-left: 1.5em;">
                     Red Alliance: {{score}}<br>
                     Teams:
                     {{#each teams:i}}
                        <a href="#/team/{{this.match(/\d+/)[0]}}">{{this.match(/\d+/)[0]}}</a>{{#if i < teams.length-1}},&nbsp;{{/if}}
                     {{/each}}
                  </p>
               {{/}}
            </p>
         </a>
      {{/each}}
   </div>
{{/if}}
