<div class="team-header clearfix">
  <h2>{{event.name}}</h2>
  <div><a href="https://www.thebluealliance.com/event/{{ event.key }}" target="_blank">Open in TBA</a></div>
</div>
<a class="btn btn-default" href="#/a/event/{{ event.key }}">View Teams</a>
<p>
  {{#if loading == 1}}
    Loading matches...
  {{elseif loading == 2}}
    Loading predictions...
  {{else}}
    &nbsp;
  {{/if}}
</p>
{{#if matches.length}}
   <div class="list-group">
      {{#each matches}}
         <a href="https://www.thebluealliance.com/match/{{key}}" class="list-group-item" target="_blank">
            <h4 class="list-group-item-heading">
               Match #{{match_number}}
            </h4>
            <p class="list-group-item-text">
               <b>Time</b>: {{moment(time*1000)}}<br>
               {{#if alliances.blue.score || alliances.red.score}}
                 <b>Winner</b>:
                 {{#if alliances.red.score > alliances.blue.score}}
                   <span class="red">Red</span>
                 {{else}}
                   <span class="blue">Blue</span>
                 {{/if}}
                 ({{alliances.red.score}} - {{alliances.blue.score}})
                 <br>
               {{/if}}
               {{#if predictions}}
                 <b>Predicted</b>:
                 {{#if predictions[0] > predictions[1]}}
                   <span class="red">Red</span>
                 {{else}}
                   <span class="blue">Blue</span>
                 {{/if}}
                 ({{predictions[0]}} - {{predictions[1]}})
                 <br>
                 OPR:
                 {{#if getWinner(alliances.red.teams, alliances.blue.teams, 'oprs')}}
                   <span class="red">Red</span>
                 {{else}}
                   <span class="blue">Blue</span>
                 {{/if}}
                 ({{getAllianceSum(alliances.red.teams, 'oprs')}} - {{getAllianceSum(alliances.blue.teams, 'oprs')}})
                 <br>
                 DPR:
                 {{#if getWinner(alliances.red.teams, alliances.blue.teams, 'dprs')}}
                   <span class="red">Red</span>
                 {{else}}
                   <span class="blue">Blue</span>
                 {{/if}}
                 ({{getAllianceSum(alliances.red.teams, 'dprs')}} - {{getAllianceSum(alliances.blue.teams, 'dprs')}})
                 <br>
                 CCWM:
                 {{#if getWinner(alliances.red.teams, alliances.blue.teams, 'ccwms')}}
                   <span class="red">Red</span>
                 {{else}}
                   <span class="blue">Blue</span>
                 {{/if}}
                 ({{getAllianceSum(alliances.red.teams, 'ccwms')}} - {{getAllianceSum(alliances.blue.teams, 'ccwms')}})
               {{/if}}
               <b>Alliances</b>:
               {{#alliances.red}}
                 <br>
                 &nbsp;&nbsp;&nbsp;&nbsp;
                 Red:
                 {{#each teams:i}}
                    <a href="#/a/team/{{this.match(/\d+/)[0]}}">{{this.match(/\d+/)[0]}}</a>{{#if i < teams.length-1}},&nbsp;{{/if}}
                 {{/each}}
               {{/}}
               {{#alliances.blue}}
                 <br>
                 &nbsp;&nbsp;&nbsp;&nbsp;
                 Blue:
                 {{#each teams:i}}
                    <a href="#/a/team/{{this.match(/\d+/)[0]}}">{{this.match(/\d+/)[0]}}</a>{{#if i < teams.length-1}},&nbsp;{{/if}}
                 {{/each}}
               {{/}}
            </p>
         </a>
      {{/each}}
   </div>
{{/if}}
