<div class="team-header clearfix text-center">
  <h2>Welcome to ORB!</h2>
  <br>
  <h3 class="grey">ORB Ranks Better - A superb predictive scouting system!</h3>
</div>
<hr>

<form id="login-wrapper" on-submit="login">
  <h4 class="text-center">We're glad you decided to try Orb! To begin, please enter your first name and team number below!</h4>
  <input name="name" id="input-name" placeholder="Susan" class="form-control team-input" value="{{user.name}}"/>
  <input name="number" id="input-number" placeholder="4534" class="form-control team-input" value="{{user.team}}"/>
  <button class="btn btn-default team-input" id="login-button" type="submit" on-tap="login">Start Orb</button>
</form>
